@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&display=swap');
/* 
    font-family: 'Yellowtail', cursive;
    font-family: 'Asap', sans-serif;
    font-family: 'Nunito', sans-serif;
*/

:root{
    --fonte-primaria: 'Nunito', sans-serif;
    --fonte-secundaria: 'Asap', sans-serif;
    --fonte-terciaria: 'Yellowtail', cursive;
    --cor-principal: #FFFFFF;
    --cor-fundo: #191970;
}

body{
    font-family: var(--fonte-primaria);
    color: #1c1c1c;
}

h1, h2, h3{
    font-family: var(--fonte-secundaria);
    color: #000000;
}

.botao{
    color: var(--cor-principal);
    text-decoration: none;
    padding: 10px 30px;
    background-color: var(--cor-fundo);
    font-size: .9em;
    border-radius: 10px;
}

/* Navegação */
/* Navegação */
/* Navegação */

nav{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--cor-fundo);
}

nav > a{
    text-decoration: none;
    color: var(--cor-principal);
    font-weight: 800;
    font-size: 32px;
    font-family: var(--fonte-terciaria);
}

nav > ul{
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;
}

nav ul li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    color: var(--cor-principal);
}

/* Navegação */
/* Navegação */
/* Navegação */


/* header */
/* header */
/* header */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/camera.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--cor-principal);
    text-align: center;
    padding: 20px;
}

header h1{
    color: var(--cor-principal);
}

header p{
    margin-bottom: 2em;
}

/* header */
/* header */
/* header */

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 10px 10px 20px 20px;
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
}

#sobre h2{
    color: var(--cor-principal);
}

#sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .botao{
    background-color: #f1f1f1;
    color: #1c1c1c;
}

/* serviços */
/* serviços */
/* serviços */

#servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#servicos h2{
    margin: 0 auto;
}

#servicos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

/* fotos */
/* fotos */
/* fotos */

#fotos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#fotos h2{
    margin-bottom: 20px;   
}

#fotos img{
    width: 100%;
}

/* contato */
/* contato */
/* contato */

#contato{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
}

#contato h2{
    color: #000000;
}

/* contato */
/* contato */
/* contato */

footer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
}

footer a{
    text-decoration: none;
    color: #00FFFF;
}

@media screen and (min-width: 768px){
    nav{
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul{
        flex-direction: row;
        width: 70%;
    }

    header{
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    #sobre{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    #servicos{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    #servicos h2{
        text-align: center;
        width: 100%;
    }
    #servicos div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    #fotos{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #fotos h2{
        width: 100%;
        text-align: center;
    }
    #fotos img{
        width: 33.333333%;
    }
    #contato{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }
    #contato h2, #contato p{
        width: 100%;
    }
}